<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>

    <section class="h-100 gradient-form" style="background-color: #eee;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">

                    <div class="text-center">
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                        style="width: 185px;" alt="logo">
                    </div>

                    <form action="/verify" method="post">
                      <p>Por favor ingresa con tu cuenta</p>
                      {{#if message}}
                        <p style="color:red">{{message}}</p>
                      {{/if}}
                      <div class="form-outline mb-4">
                        <input type="text" id="username" name="username" class="form-control"
                          placeholder="Usuario" />
                        <label class="form-label" for="form2Example11">Usuario</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="password" id="password" name="password"
                          class="form-control" />
                        <label class="form-label" for="password">Contraseña</label>
                      </div>

                      <div class="text-right pt-1 mb-5 pb-1">
                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" onclick="submit();">Ingresar</button>
                        <p><a class="text-muted" href="#!">¿Olvidaste Contraseña?</a> </p>
                      </div>

                      <div class="d-flex align-items-center
                        justify-content-center pb-4">
                        <a href="/formRegister"><button type="button" class="btn btn-outline-danger">Registrate</button></a>
                      </div>

                    </form>

                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center
                  gradient-custom-2">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
  </body>
</html>