<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/html5-qrcode.min.js"></script>
<style>
  .result{
    background-color: green;
    color:#fff;
    padding:20px;
  }
  .row{
    display:flex;
  }
</style>
  </head>
  <body>
    {{{body}}}

    <script type="text/javascript">
        function showData() {
            document.getElementById('result').innerHTML = '<span class="result">'+qrCodeMessage+'</span>';
            fetch('http://localhost:3000/code', {
              headers: {
                'Content-type': 'application/json'
              },
              method: 'POST',
              body: JSON.stringify({ code: qrCodeMessage})
              })
              .then(function(response) {
                // Transforma la respuesta. En este caso lo convierte a JSON
                return response.json();
              })
              .then(function(json) {
                  Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: json.nombre,
                    showConfirmButton: false,
                    timer: 1000
                  });
                console.log(json)
              });
        }

        function onScanSuccess(qrCodeMessage) {
          console.log("Entrando");
            document.getElementById('result').innerHTML = '<span class="result">'+qrCodeMessage+'</span>';
            fetch('http://localhost:3000/code', {
              headers: {
                'Content-type': 'application/json'
              },
              method: 'POST',
              body: JSON.stringify({ code: qrCodeMessage})
              })
              .then(function(response) {
                // Transforma la respuesta. En este caso lo convierte a JSON
                return response.json();
              })
              .then(function(json) {
                  Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: json.nombre,
                    showConfirmButton: false,
                    timer: 1000
                  });
                console.log(json)
              });

        }
        function onScanError(errorMessage) {
          //handle scan error
        }
        var html5QrcodeScanner = new Html5QrcodeScanner(
            "reader", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess, onScanError);
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </body>
</html>
